.root{
    height: 100%;
    background: #3D9AD1;
    background-size: 100%;
}
.head-main{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 200px;
    background: #0969A2;
    h1{
        font-size: 36px;
        color: white;
    }
}

h1,h2,p,a{
    color:white;
}