.updateOrg-container{
    background: grey;
    min-height: 478px;
    height: 100%
}

.updateOrg-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120px;
    h1{
        font-size: 30px;
    }
}

.updateOrg-block{
    display: flex;
    flex-direction: column;
    align-items: center;

    span{
        font-size: 20px;
        color: white;
        padding-bottom: 10px;
    }
    div{
        input{
            display: flex;
            width:300px;
            height: 30px;
            border: 0;
            margin-bottom: 5px;
            margin-top: 5px;
            font-size: 20px;
            text-align: center;
            outline: none;
            color: #03436A;
        }
    }
    .button-update__org{
        width:120px;
        height: 25px;
        line-height: 25px;
        margin-top: 5px;
        margin-bottom: 10px;
        background: orange;
        color:white;
        border:0;
        cursor: pointer;
    }
    .button-update__org:hover{
        background: red;
    }
}
