.user-container{
    background: grey;
    min-height: 768px;
    height: 100%
}
.user_block{
    display: flex;
    justify-content: space-around;

}

.user-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    h1{
        font-size: 30px;
    }
}

.user-create{
    margin-top: 20px;
    a{
        display: flex;
        width:250px;
        height: 40px;
        font-size: 20px;
        line-height: 25px;
        background: orange;
        justify-content: center;
        color:white;
        box-sizing: border-box;
        padding-top: 5px;
    }
    a:hover{
        background: red;
    }
}

.user-item{
    min-width: 350px;
    min-height: 300px;
    padding: 0 10px 0 10px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.user-block__head{
    display: flex;
    justify-content: center;
    h2{
        font-size: 25px;
        color: #03436A;
    }
}

.user-body{
    p{
        color:#03436A;
        margin-top: 10px;
    }
    p:last-child{
        margin-bottom: 10px;
    }
}

.user-buttons{
    display: flex;
    justify-content: space-around;
    a{
        display: flex;
        width:90px;
        height: 25px;
        line-height: 25px;
        background: orange;
        justify-content: center;
        color:white;
    }
    a:hover{
        background: red;
    }
}
